<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style/header.css">
    <link rel="stylesheet" href="/style/minhasReservas.css">


    <title>Minhas reservas</title>
</head>
<body>
    <!-- Cabeçalho -->
    <%- include('header') %>

    <h1>Minhas Reservas</h1>

    <form action="/submit-minhas-reservas" method="POST">
        <label for="cpf">Digite seu CPF para buscar suas reservas:</label>
        <input type="text" name="cpf" id="cpf" required>
        <button type="submit">Buscar</button>
    </form>

  <!-- Adicionando máscara ao cpf -->
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.16/jquery.mask.min.js"></script>
  <script>
      $('#cpf').mask('000.000.000-00');
  </script>
    
    <% if (typeof reservasComDataFormatada !== 'undefined' && reservasComDataFormatada.length > 0) { %>
        <h2>Reservas encontradas:</h2>
        <ul>
            <% reservasComDataFormatada.forEach(reserva => { %>
                <li class="reservas">
                    Setor: <%= reserva.setor %>, 
                    Data: <%= reserva.formattedDate %>, 
                    Horário: A partir das 18h,
                    Quantidade de Pessoas: <%= reserva.person_quantity %>
                </li>
            <% }) %>
        </ul>
    <% } else if (typeof message !== 'undefined') { %>
        <p><%= message %></p>
    <% } %>

</body>

<footer>
    <p>&copy; 2024 Restaurante. Todos os direitos reservados.</p>
    <a href="/politica-de-privacidade">Política de Privacidade</a>
</footer>

</html>